.popupRegist_ivf_1_0_0 {
    &__box {
        .modal-title {
            .logo {
                display: block;
                margin: 10px auto;
            }
        }
        .modal-box {
            max-width: 350px;
            min-width: 300px;
        }
        .modal-body {
            padding: 3px 0;
            input {
                width: 100%;
                margin-bottom: 10px;
                font-size: 13px;
                padding: 8px 12px;
                border: 1px solid #a6bcdb;
                border-radius: 6px;
            }
            textarea {
                width: 100%;
                margin-bottom: 10px;
                font-size: 13px;
                padding: 8px 12px;
                border: 1px solid #a6bcdb;
                border-radius: 6px;
            }
        }
    }
    &__modalBox {
        margin-top: -35vh;
    }
    &__headerBoxTitle {
        text-align: center;
        position: relative;
            background: #2d962d;
            margin: 0 0 8px;
            padding: 13px 30px 12px 30px;
            font-size: 18px;
            text-transform: uppercase;
            display: block;
            color: #fff;
            @media (max-width: 375px) {
                font-size: 15px;
            }
    }
    &__contact {
        text-align: center;
        color: #696969;
        font-size: 13px;
        p {
            margin: 6px 0 12px;
            font-size: 12px;
            font-style: italic;
            a {
                color: #cc431d;
                text-decoration: none;
                font-weight: bold;
                font-size: 13px;
            }
        }
        img {
            margin: 0 5px;
        }
    }
    &__clickSent {
        background: linear-gradient(90deg, rgb(0, 128, 0) 0%, rgb(0, 128, 0) 75%, rgb(0, 128, 0) 100%);
        color: #fff;
        border: none;
    }
}