.title {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  color: #008000;
  text-transform: uppercase;
}
.text {
  color: #505050;
  padding: 10px 0 20px;
}
.des {
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
  br {
    display: none;
  }
}
.seemore {
  text-align: center;
  background: none;
  width: 100%;
  margin-bottom: 20px;
  a {
    background: #008000;
    color: #fff;
    text-transform: uppercase;
    padding: 7px 17px;
    border-radius: 7px;
    font-size: 13px;
  }
}
.screen1 {
  padding: 30px 0 20px;
  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  &__img {
    width: 30%;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  &__item {
    width: 67%;
    text-align: left;
  }
}
.screen2 {
  margin: 35px 0;
  &__box {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
  }
  &__pic {
    width: 32%;
    img {
      width: 100%;
      height: auto;
      display: block;
      border-radius: 8px;
    }
  }
}
.screen3 {
  padding: 0 0 100px;
  &__pic {
    padding-top: 20px;
    width: 550px;
    margin: 0 auto;
    img {
      width: 100%;
      height: auto;
      display: block;
      border-radius: 8px;
    }
  }
}

@media (max-width: 767px) {
  .title {
    font-size: 22px;
  }
  .des {
    font-size: 18px;
    br {
      display: block;
    }
  }
  .seemore a {
    padding: 6px 15px;
    font-size: 12px;
  }
  .screen1 {
    padding: 30px 0 0px;
    &__box {
      flex-direction: column;
      gap: 20px;
    }
    &__item {
      width: 100%;
    }
    &__img {
      width: 100%;
    }
  }
  .screen2 {
    margin: 0;
    &__box {
      gap: 10px;
      flex-direction: column;
      padding: 10px 0 20px;
    }
    &__pic {
      width: 100%;
    }
  }
  .screen3 {
    padding: 0 0 65px;
    &__pic {
      width: 100%;
      padding-top: 10px;
    }
    padding: 0 0 70px;
  }
}
